{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Kyle Potter - Sr. Cloud Operations Engineer</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="Kyle J. Potter's Resume."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/resume.css' %}">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
		<img src="{% static 'portfolio/headshot.jpeg' %}">
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Kyle Potter</h1>
			<h2 class="quickFade delayThree">Sr. Cloud Operations Engineer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li> <a href="mailto:kylepotter0902@gmail.com" target="_blank">kylepotter0902@gmail.com</a></li>
				<li> <a href="https://www.linkedin.com/in/kylepotter92/">www.linkedin.com/in/kylepotter92</a></li>
				<li> 509-701-5761</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Summary</h1>
				</div>
				
				<div class="sectionContent">
					<p>Cloud Ops Engineer with over 5+ years experience working with AWS and Linux. A DevOps enthusiast and Certified Kubernetes Administrator who works with IaC tools such as Terraform and CloudFormation to deploy infrastructure. I also have experience with webserver administration, containers, virtualization, and scripting for automation purposes.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Amazon Web Services</li>
					<li>Linux</li>
					<li>BASH</li>
					<li>Kubernetes</li>
					<li>Docker</li>
					<li>Terraform</li>
					<li>Python</li>
					<li>Ansible</li>
					<li>Git</li>
					<li>CI|CD</li>
					<li>Django</li>
					<li>PostgreSQL</li>

				</ul>
			</div>
			<div class="clear"></div>
			
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Experience</h1>
			</div>

			<div class="sectionContent">
				<article>
					<b><h2>Senior Cloud Operations Engineer</h2><b>
					<h3>2nd Watch - Libery Lake, WA </h3>
					<p class="subDetails">February 2022 - Present</p>
					<li>Implement tools and technologies at an enterprise scale</li>
					<li>Manage networks between 70+ AWS accounts with Transit Gateway</li>
					<li>Linux and Windows administration & troubleshooting</li>
					<li>Kubernetes and EKS management</li>
					<li>Deploy AWS Resources and gaurdrails with Terraform</li>
					<li>Manage SSO roles for client access through a centralized AWS account</li>
					<li>Configuation management with Ansible and AWS Systems Manager</li>
					<li>Create Lambda Functions using Python for automation tasks</li>
					<br>
					<h2>Linux Systems Engineer</h2>
					<h3>Two Barrels - Spokane, WA</h3>
					<p class="subDetails"> December 2020 - February 2022</p>
					<li>Build and utilize open source tools and services</li>
					<li>Manage Linux machines with Ansible</li>
					<li>Automate Linux tasks with bash scripting</li>
					<li>Create applications and tools with Python & Django framework</li>
					<li>Automate configuration tasks via Ansible</li>
					<li>Linux server administration & troubleshooting</li>
					<li>Manage and troubleshoot VPN connections for over 400 employees</li>
					<br>
					<b><h2>Senior Cloud Operations Engineer</h2><b>
					<h3>2nd Watch - Libery Lake, WA</h3>
					<p class="subDetails"<p>April 2018 - December 2020</p>
					<li>Provide high-level support for enterprise level customers</li>
					<li>Lead customer outage calls and provide swift solutions</li>
					<li>Configure, administer, and monitor systems in AWSg</li>
					<li>Linux and Windows administration & troubleshooting</li>
					<li>Document processes and procedures for incident resolution</li>
					<li>Train current & new employee</li>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
		<div class="sectionTitle">
			<h1>Certifications</h1>
		</div>
		
		<div class="sectionContent">
			<article>
				<h1>CERTIFIED KUBERNETES ADMINISTRATOR - CKA</h1>
				<h3>Linux Foundation, License ID: LF-s8tp988afd</h3>
				<p class="subDetails">June 2022 - June 2025</p>
			</article>
			<br/>
			<article>
				<h1>CERTIFIED AWS SOLUTIONS ARCHITECT – ASSOCIATE</h1>
				<h3>Amazon Web Services, License ID: V3FY0TSCBFFEQQ57</h3>
				<p class="subDetails">June 2018 - June 2021</p>
			</article>
			<br/>
			<article>
				<h1>CERTIFIED AWS DEVELOPER – ASSOCIATE</h1>
				<h3>Amazon Web Services, License ID: 6QGRP902CFQ41PG5</h3>
				<p class="subDetails">January 2019 - January 2022</p>
				<br/>
				<article>
				<h1>CERTIFIED AWS SYSOPS ADMINISTRATOR – ASSOCIATE</h1>
				<h3>Amazon Web Services, License ID: P8TXEYQ2M2R4Q997</h3>
				<p class="subDetails">July 2019 – July 2022</p>
			</article>
			<br/>
			<article>
				<h1>CERTIFIED AWS CLOUD PRACTITIONER</h1>
				<h3>Amazon Web Services, License ID: 3XNSY1QCE1R11D5L</h3>
				<p class="subDetails">December 2017 – December 2020</p>
			</article>
		</div>
		<div class="clear"></div>
	</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Spokane Falls Commuity College</h2>
					<h3>A.A.S Degree - Audio Engineering</h3>
					<p class="subDetails">September 2011 - June 2013</p>
				</article>
				<br/>
				<article>
					<h2>Shadle Park High School</h2>
					<h3>High School Diploma</h3>
					<p class="subDetails">September 2008 - June 2011</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Projects</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Senior Engineer For Enterprise Client</h2>
					<br>
					<p>A Cloud Engineer for a fortune 500 company hosted in AWS with over 70 managed accounts.</p>
					<p>Support for this client includes deploying and maintaining AWS resources with Terraform such as EC2, VPC, IAM, RDS, and Lambda. Terraform is also used to integrate services such as New Relic, Qualys and Sentinel One. Resource tagging standards and compliance is enforced using AWS Config and Cloud Custodian policies.</p> 
					<p>I have managed SSM agent installs for instances and have run SSM documents that provide automated solutions for our client across multiple servers. I have provisioned AWS VPC peering across accounts using Transit Gateway, configured by a centralized Transit Gateway account. I have provided customer access to these accounts via AWS SSO, managed with AWS Organizations that governs all accounts.</p>
				</article>
				<br/>
				<article>
					<h2>Drone CI</h2>
					<br>
					<p>Provisioned a CI/CD application known as Drone CI. This application was deployed to an EKS cluster using Terraform. I used Docker containers for the Drone server and PostgreSQL backend, which were deployed to pods within the cluster. </p>
					<p>I also deployed a Load Balancer service which creates an ALB in AWS and exposes the application to register with a Bitbucket repository as an OAuth application. The Drone server utilizes a Kubernetes runner service for scheduled pipelines and would authenticate to this runner using a service account, a shared secret and RBAC roles.</p>
				</article>
				<article>
					<h2>VPN Web Application</h2>
					<br>
					<p>Created a web application with Python using the Django Web Framework that kept track of users that are currently connected to the company VPN. </p>
					<p>This application would also gather information from an inventory database, such as the user’s name, IP address and Laptop Serial ID and sort that information as a dictionary with Python. I would then display that data on a webpage in a Graph, formatted with HTML/CSS.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>

</body>
</html>